/*                                     
 *  
 * By Great Job
 *                                                                                           
 */

/*
 * Contents
 *
 * Body resets
 * Custom type
 * Container
 * Social
 */

 /*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

body{
    color: #1D90F4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
html, body {
    height: 100%;
}

/*
 * Custom type
 *
 */

a{
	text-decoration: none;
	font-weight:300;
}
.one h2{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight:100;
	margin:30px;
}
.logoname{
	padding-bottom:30px;
}
h1{
	font-family:'Roboto', sans-serif;
	font-size: 64px;
	font-weight:200;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.button h1{
	font-size: 48px;
}

h2{
	font-family:'Roboto', sans-serif;
	font-size: 32px;
	font-weight:200;
	display: inline-block;
	line-height: 2;
	margin: 0;
	vertical-align: middle;
	color: #666;
}

/*
 * Container
 *
 */
.main{
	padding-top: 100px;
	padding-left: 150px;
}
.iphone{
	/*filter: drop-shadow 0 0 30px rgba(0, 0, 0, 0.5);*/
	-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	position: relative;
}
#logo{
	float: left;
	margin: 10px 0;
	padding-top: 200px;
}
.contextual{
	float: left;
	margin: 10px 0;
}
.app-badge{
	float: left;
	margin: 10px 0;
}
.social{
	float: left;
	margin: 10px 0;
}
#app-icon {
	margin: 0 15px 0 0;
	vertical-align: bottom;
}


  
/*
 * Social
 *
 * Twitter and Facebook buttons for jumping to social media pages
 */

.fa{
	color:#0F4DCB;
}
.fa-twitter{
	margin-right: 10px
}


/*
 * Button
 *
 * Custom buttoms
 */

.btn-default {
  color: #1D90F4;
  background-color: #ffffff;
  border-color: #1D90F4
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #1D90F4;
  border-color: transparent;
}

.vibrate {
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 
.vibrate:hover {
    animation-name: jittery;
}
 
@keyframes jittery {
    10% {
        transform: translate(-1px, -1px) scale(1.01, 1.01);
    }
    20% {
        transform: translate(1px, 1px) scale(1, 1);
    }
    30% {
        transform: translate(-1px, -1px) scale(1.01, 1.01);
    }
    40% {
        transform: translate(0px, 0px) scale(1, 1);
    }
    50% {
        transform: translate(-1px, -1px) scale(.99, .99);
    }
    60% {
        transform: translate(0px, 0px) scale(1, 1);
    }
    70% {
        transform: translate(-1px, -1px) scale(1.01, 1.01);
    }
    80% {
        transform: translate(0px, 0px) scale(1, 1);
    }
    90% {
        transform: translate(1px, 1px) scale(1.1, 1.1);
    }
    100% {
        transform: translate(0px, 0px) scale(1, 1);
    }
}

