body{
	display: block;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
}

.jumbotron{
	background-color:#eee;
	padding-bottom:0;
}
.container{
}

.jumbotron .container{
	display:block;
	text-align: center;
}

.container h2{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight:100;
}

.row{
	padding: 15px 30px;
}

.row .learn{
	margin:15px 0 0 0;
}
.learn a{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-decoration: none;
}

.two{
	padding-bottom:15px;
}
h3{
	font-family:'Roboto', sans-serif;
	font-size: 30px;
	font-weight:100;
	text-transform: capitalize;
	text-align: center
}

h4{
	font-size: 24px;
	text-align: center;
}
p{
	font-size: 24px;
	
}

ul{
	font-size: 18px;
	margin-bottom: 24px;
}
.col-md-6 .copy{
	text-align: left;
}
.social{
	text-align: center;
}
.social .fa{
	color:#93BDED;
	padding: 0 10px;
}

footer p{
	background-color: #4a4a4a;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 10px 0 5px;
	text-align: center;
}
footer a{
		color:#000;
}