body{
	display: block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	text-align:center;
}

a {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	text-decoration: none;
	font-weight:300;
}

img{
	padding:7px;
}
.one{
	padding:25px 0 0 0;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	margin-bottom:0;
}

.one h1{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	padding: 15px;
}

.one h2{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight:100;
	margin:30px;
}

video {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background-size: cover;
}

.learn .col-md-12{
	margin-top: 50px;
	z-index:20;
}

.learn .col-md-2{
	margin-top:-48px;
	z-index:5;
}
.appbadge{
	width:250px;
	text-align:center;
}

.two{
	background-color:#eee;
	padding-top:35px;
	padding-bottom:15px;
	margin: 0 auto;
	width: 100%;
}

h3{
	font-family:'Roboto', sans-serif;
	font-size: 27px;
	font-weight:200;
	text-transform: capitalize;
	text-align: center;
	line-height: 34px;
	padding-bottom: 45px;
}

ul{
	font-size: 20px;
	margin-bottom: 24px;
	text-align: left;
	font-weight:300;
	line-height: 27px;
}

.rightcol{
	margin: 15% 0;
}
.social{
	padding: 15px 0;
}

.social .fa{
	color:#93BDED;
}

footer p{
	background-color: #4a4a4a;
	margin: 0;
	padding: 10px 0 5px;
	text-align: center;
}
footer a{
		color:#fff;
		font-family: 'Open Sans', sans-serif;
	    font-size: 16px;
}