body{
	display: block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	text-align:center;
}

a {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	text-decoration: none;
	font-weight:300;
}

.jumbotron{
	background-color:#eee;
	padding-bottom:0;
}

.jumbotron h1{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	padding: 15px;
}

.jumbotron h2{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight:100;
	padding:15px;
}

.row{
	padding: 25px 30px;
}

.row .learn{
	margin:15px 0 0 0;
}

.appbadge{
	width:250px;
	text-align:center;
}

.two{
	padding-bottom:15px;
}

h3{
	font-family:'Roboto', sans-serif;
	font-size: 27px;
	font-weight:200;
	text-transform: capitalize;
	text-align: center;
	line-height: 34px;
}

ul{
	font-size: 20px;
	margin-bottom: 24px;
	text-align: left;
	font-weight:300;
}

.rightcol{
	margin: 20% 0;
}
.copy{
	text-align: left;
	padding: 15% 0;
}

.social .fa{
	color:#93BDED;
}

footer p{
	background-color: #4a4a4a;
	margin: 0;
	padding: 10px 0 5px;
	text-align: center;
}
footer a{
		color:#fff;
		font-family: 'Open Sans', sans-serif;
	    font-size: 14px;
}